html{
    font-size:60%;
}
body{
    font:normal 100% Arial,sans-serif;
    font-size:14px;
}
.left{
    width:30%;
    float:left
}
.right{
    width:70%;
    float:right
}

#out{
    width:350px;
    height:350px;
    margin:auto;
    padding-left:25px;
    padding-top: 25px;
}
.color{
    width:100px;
    height:100px;
    background-color:white;
    margin:2px;
    border:1px solid black;
    border-radius: 6px;
    float: left;
}
