*{
    padding:0;
    margin:0;
}
main{
    width:100%;
    background:#778899;
    padding:10px 0;
}
#main-1{
    width:980px;
    height:1200px;
    margin:0 auto;
    position:relative;
}
.section{
    width: 980px;
    height:400px;
    margin:-80px auto 0 auto;
}
.date{
    position:relative;
    left:-60px;
    top:100px;
    height:40px;
    width:60px;
    background:#ff2400;
    font:16px "Microsoft YaHei";
    text-align:center;
    line-height:40px;
}
.tag{
    position:relative;
    left:-60px;
    top:100px;
    height:40px;
    width:60px;
    background:#bc1717;
    font:16px "Microsoft YaHei";
    text-align:center;
    line-height:40px;
}
article{
    width:700px;
    height:300px;
    background:#fff;
    display:block;
    box-shadow:1px 1px 2px 1px #848484;
}
article h1{
    font:16px "Microsoft YaHei";
    padding:10px;

}
article h2{
    padding:10px;
    font:14px "Microsoft YaHei";
    color:#666;
}
article p{
    padding:5px;
    font:12px "Microsoft YaHei";
}
.message{
    text-align:right;
    color:#938e8c;
}
#yema-1{
    width:980px;
    margin:20px auto;

}
#yema-2{
    width:800px;
    height:30px;
    margin-left:30px;

}
.page-button{
    float:left;
    margin:5px;
    background:#fff;
    text-align:center;
    padding:15px;
    font:12px  "Microsoft YaHei";
}
#previous-page,
#first-page,
#last-page
{
    width:40px;
}
#page-bypass{
    width:30px;
}
#page-1,
#page-2,
#page-3,
#page-4{
    width:20px;
}
#first-page,#previous-page{
    color:#778899;
}
#page-1{
    background:#ff2400;
}
aside{
    float:right;
    width:300px;
    height:1200px;
    position:relative;
    top:80px;
    left:40px;
}
aside>div{
    margin-bottom:20px;
}
#search-bar-1{
    width:260px;
    height:80px;
    background:#fff;
    line-height:80px;
    text-align:center;
}

#search-text{
    width:170px;
    height:40px;
    border:1px solid #848484;
}
#search-button{
    width:50px;
    height:40px;
    text-align:center;
    line-height: 40px;
    background:#848484;
}
#choice{
    width:260px;
    height:200px;
}
#choice>div{
    width:256px;
    height:49px;
    border-top:1px solid #000000;
    background:#fff;
    text-align:center;
    padding-top:15px;
    font:16px "Microsoft YaHei";
}
#choice-html,
#choice-javascript,
#choice-other{
    border-left:4px solid #d45d5c;
}
#choice-css{
    border-left:4px solid #ff2400;
}
#rili{
    width:260px;
    height:240px;
    background:#fff;
    margin-top:80px;
    text-align:center;
}
#year-date{
    width:200px;
    height:50px;
    margin:0 auto;
    text-align:center;
    font:16px "Microsoft YaHei";
    line-height:50px;
}
#riqi{
    width:210px;
    height:150px;
  margin:0 auto;
}
table td{
    width:30px;
    height:30px;

}
#choice-tag{
    width:260px;
    height:200px;
    background:#fff;
    padding:20px 20px;
}
#choice-this-time{
    background:#ff2400;
}

p{
    color:#ff2400;
    line-height:30px;

}
.tags{
    font:20px SimSun;
    color:#778899;
}
.big-size{
    font:28px SimSun;
    font-weight:bolder;
}
.middle-size{
    font:24px SimSun;
    font-weight:bold;
}
.small-size{
    font:16px SimSun;
}
.smaller-size{
    font:14px SimSun;
}


