/*main*/
*{
    padding:0;
    margin:0;
}
p{
    text-indent:2em;
}
#introduction{
    width:100%;
    position:relative;
    font-size:0;
}
#introduction img{
    width:100%;
    height:500px;
}
#introduction-text{
    position:absolute;
    right:10%;
    bottom:0;
    width:300px;
    height:200px;
    background:#fff;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
#introduction-text h2{
    padding:10px 10px 10px 10px;
    font:14px "SimSun";
    margin-bottom:2px;
    position:relative;
    left:200px;
}
#introduction-text p{
    padding:10px 10px 30px 10px;
    font:12px "SimSun";
    line-height:150%;

}

main{
    width:100%;
    padding:0;
    margin:0;
}
#main-details{
    width:100%;
    background:	#778899;
}
#item{
    width:990px;
    height:530px;
    margin:0 auto;
}
.section{
    float:left;
    width:320px;
    height:380px;
    margin:10px 5px;
    background:#fff;
}
.body-img{
    margin:10px;
}
.body-text{
    margin:3px 30px 25px 30px;
    font-size:12px;
    line-height:170%;
}
#myself{
    width:980px;
    margin:0 auto;
    height: 400px;
    background:#fff;

}
#myself-image{
    position:relative;
    top:-50px;
    text-align:center;
}
#myself-text{
    width:400px;
    margin:0 auto;
    text-align:center;
}
#myself h2{
    display:inline-block;
    padding-bottom:20px;
    font:20px "Century Gothic";

}
#myself p{
    font-size:16px;
    text-align:left;
}


