*{
    margin:0;
    padding:0;
}
/*header*/
header {
    position:relative;
    width:100%;
    height:80px;
    background-color:#FF8C00;

}
#header-zhuti{
    position:relative;
    width:980px;
    margin:0 auto;
}
#header-logo{
    position:absolute;
    top:50px;
    font:20px "Microsoft YaHei";
    text-decoration: none;
}
#header-catalog{
    position:absolute;
    right:10px;
    padding-top:61px;
}
.catalog {
    float:left;
    font:14px "SimSun";
    margin:0 14px;
    list-style-type: none;
    display:block;
}
.catalog a{
    text-decoration:none;
}
#header-image{
    position:absolute;
    right:10px;
    bottom:0px;
}
footer{
    width:100%;
    background:#000;
    font:16px SimSun;
    color:#fff;
}
footer nav{
    width:50%;
    margin:0 auto;
}
 footer nav ul{
    text-align:center
}
 footer nav li {
     display:inline-block;
     padding:10px;

 }
 nav li a{
     text-decoration:none;
 }
.reference{
    height: 275px;
    width: 980px;
    margin: 0 auto;
}
.reference ul{
    float:left;
    width:160px;
    margin:25px 18px;
    list-style-type: none;
}
.title{
    display:inline-block;
    height:30px;
}
footer a{
    color:#fff;
}
footer a:hover{
    color:#fff;
}
#edition{
    text-align:center;
    width: 980px;
    margin:10px auto;
}
#footer-img{
    width:980px;
    margin:0 auto;
    text-align:center;
}



